body	{
	background-color: whitesmoke;
	}
header	{
	display: flex;
	background-color:red;
	padding: 15px;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	color:yellow;
	font-family: Georgia, serif;
	border: solid white;
	border-width: 5px 5px 0px 5px;
	text-shadow:orangered;
	border-radius: 100px 100px 0px 0px;
	}
nav	{
	overflow: hidden;
	background-color: skyblue;
	}
nav a	{
	float: left;
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	font-family: Poppins, sans-serif;
	}
.dropdown, .bgm {
	float: right;
	overflow: hidden;
	}
.dropbtn, .play {
	font-size: 16px;  
	outline: none;
	border: none;
 	color: white;
	padding: 20px;
	background-color: inherit;
	font-family: Poppins, sans-serif;
	margin: 0;
	}
nav a:hover, .dropbtn:hover, .play:hover {
	background-color: #ffffff;
	color: rgb(165, 70, 165);
	}
.dropdown-content {
	display: none;
	position: absolute;
	background-color:rgb(188, 73, 188);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	}
.dropdown-content a {
	float: none;
	color: #ffffff;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	}
.dropdown-content a:hover {
	background-color: #9dc064;
	color: #ffffff;
	}
.dropdown:hover .dropdown-content {
	display: block;
	}
#cats	{
	flex: 100%;
	vertical-align: middle;
	border-radius: 0px 0px 50px 50px;
	}
.center {
	margin: auto;
	text-align: center;
	}
.footer	{
	background-color:red;
	padding: 15px;
	border-radius: 0px 0px 100px 100px;
	}
.footer p {
	text-align: center;
	color: #ffffff;
	font-family: Poppins, sans serif;
	}
#flink:link, #flink:visited {
	color: #ffffff;
	}
#flink:hover {
	color: plum;
	}
#flink:active {
	color: powderblue;
	}